---
Checks: -*,
        -abseil-*,
        -altera-*,
        -android-*,
        -boost-*,
        -cert-*,
        -cert-dcl51-cpp,
        -misc-no-recursion,
        clang-analyzer-*,
        concurrency-*,
        cppcoreguidelines-*,
        -darwin-*,
        -fuchsia-*,
        google-*,	
        hicpp-*,	
        -hicpp-deprecated-headers,
        -linuxkernel-*,	
        -llvm-*,	
        -llvmlibc-*,	
        misc-*,	
        modernize-*,	
        -modernize-deprecated-headers,
        -mpi-*,	
        -objc-*,	
        -openmp-*,	
        performance-*,	
        portability-*,
        readability-*,
        -readability-identifier-naming,
        -zircon-*
FormatStyle:     none
